[package]
name = "auction-contract"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
soroban-sdk = { workspace = true }

[dev-dependencies]
soroban-sdk = { workspace = true, features = ["testutils"] }
# ----------------------

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"